Config(gamepad_config: {"north":32,"west":49,"south":50,"east":51,"select":77,"start":80,"left-trigger-2":67,"left-trigger":70,"right-trigger-2":88,"right-trigger":82,"dpad-up":38,"dpad-down":40,"dpad-left":37,"dpad-right":39},swf_url:None,swf_name:Some("LoneSurvivor.swf"))
